page-home {
  .moving-map {
    position:absolute;
    background-image: url("../../assets/img/Map-Bitmap.png");
    // background-image: url("assets/img/Map-Bitmap.png");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 1400px auto;
    background-position: -400px -200px;
  }
  .orange-gradient {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(-225deg, #F25D56 0%, #E8970C 100%);
    opacity: 0.90;
  }
  .vivateck-logo{
    height: 40px;
  }
  .logo{
    float: right;
    height: 20px;
  }
  .fake-header {
    padding: 20px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0));
    height: 74px;
    position: relative;
  }
  .fake-content {
    padding: 30px 20px 10px 20px;
    position: relative;
  }
  .bottom-text{
    position:fixed;
    width: 92%;
    bottom: 20px;
    left: 4%;
  }
  .draw-area{
    width: 100%;
    height: 600px;
    position: relative;
  }
  .location-icon{
    position:absolute;
    top: 105px;
    left: 120px;
    height: 90px;
  }
  .inner-circle{
    position:absolute;
    top: 60px;
    left: 60px;
    border: 3px dashed rgba(255,255,255,0.6);
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .outer-circle{
    position:absolute;
    top: 10px;
    left: 10px;
    border: 3px dashed #FFF;
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }
  
}
